/*
* Import Mixins
*/
/*
* Set colors
*/
.ese-overlap-yes.e-con {
  z-index: 999;
  position: absolute;
  top: initial;
  width: 100%;
}
body.admin-bar .ese-sticky-active.e-con {
  top: 32px;
}
.ese-sticky-active.e-con {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
body.admin-bar .ese-sticky-active.e-con {
  top: 32px;
}
.jarallax {
  position: relative;
  z-index: 0;
}
.jarallax > .jarallax-img,
picture.jarallax-img img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.ese-jarallax-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
}
.jarallax-img {
  background-size: cover;
}
.ese-swiper-wrapper .swiper .swiper-wrapper {
  align-items: stretch;
}
.ese-swiper-wrapper .swiper-button-next:after,
.ese-swiper-wrapper .swiper-button-prev:after {
  display: none;
}
.ese-swiper-wrapper .swiper-button-next i,
.ese-swiper-wrapper .swiper-button-prev i {
  font-size: 30px;
}
.ese-swiper-wrapper .swiper-pagination {
  bottom: 20px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.ese-swiper-wrapper .swiper-pagination .swiper-pagination-bullet {
  display: block;
  width: 13px;
  height: 13px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #000;
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
}
.ese-swiper-wrapper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #000;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
@media (max-width: 1200px) {
  .ese-swiper-wrapper .swiper-button-prev,
  .ese-swiper-wrapper .swiper-button-next {
    display: none;
  }
}
.ese-article h1 {
  margin: 0 0 20px 0;
}
.ese-article h2 {
  margin: 20px 0;
}
.ese-article h3 {
  margin: 15px 0;
}
.ese-article h4 {
  margin: 15px 0;
}
.ese-article h5 {
  margin: 15px 0;
}
.ese-article p {
  margin: 15px 0;
  line-height: 1.5;
}
.ese-article p:first-of-type {
  margin-top: 0;
}
.ese-article p:last-of-type {
  margin-bottom: 0;
}
.ese-article img {
  max-width: 100%;
  height: auto;
}
.ese-article i,
.ese-article em {
  font-style: italic;
}
.ese-article i.far,
.ese-article em.far,
.ese-article i.fal,
.ese-article em.fal,
.ese-article i.fas,
.ese-article em.fas {
  font-style: normal;
}
.ese-article ul,
.ese-article ol {
  padding: 0;
  margin: 3px 20px 3px 35px;
}
.ese-article ul li,
.ese-article ol li {
  line-height: 1.5;
  padding: 3px 0;
}
.ese-article ul li a,
.ese-article ol li a {
  display: inline;
}
.ese-article ol li {
  list-style: decimal;
}
.ese-article ol ul li {
  list-style: disc;
}
.ese-article ul li {
  list-style: disc;
}
.ese-article ul ol li {
  list-style: decimal;
}
.ese-article blockquote {
  padding: 20px;
  margin: 10px 0;
  font-size: 18px;
  font-style: italic;
  background-color: #ececec;
}
.ese-article blockquote p {
  margin: 0;
}
.ese-article sup {
  vertical-align: super;
  font-size: smaller;
}
.ese-button {
  display: inline-block;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-disable {
  pointer-events: none;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.ese-pagination {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.ese-pagination a,
.ese-pagination span {
  display: flex;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  justify-content: center;
  align-items: center;
}
.ese-pagination a.next,
.ese-pagination span.next,
.ese-pagination a.prev,
.ese-pagination span.prev {
  width: auto;
  padding: 0 10px;
  line-height: 46px;
  position: relative;
}
.ese-pagination a.next svg,
.ese-pagination span.next svg,
.ese-pagination a.prev svg,
.ese-pagination span.prev svg {
  width: 30px;
  height: auto;
}
.ese-pagination a.current,
.ese-pagination span.current {
  color: #fff;
}
.ese-pagination a:hover {
  color: #fff;
}
.ese-ajax-success {
  padding: 15px;
  border: 1px solid green;
  line-height: 1.3;
  background-color: #def6e6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 10px 0;
}
.ese-ajax-error {
  padding: 15px;
  border: 1px solid red;
  line-height: 1.3;
  background-color: #f6dede;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 10px 0;
}
.ese-sticky-yes .elementor-widget-image img {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-vertical-align-top {
  align-items: flex-start;
}
.ese-vertical-align-center {
  align-items: center;
}
.ese-vertical-align-bottom {
  align-items: flex-end;
}
.ese-horizontal-align-center {
  justify-content: center;
}
.ese-horizontal-align-left {
  justify-content: left;
}
.ese-horizontal-align-right {
  justify-content: right;
}
.ese-text-align-center {
  text-align: center;
}
.ese-text-align-left {
  text-align: left;
}
.ese-text-align-right {
  text-align: right;
}
.ese-gallery-slider.ese-title-show-hover-yes .ese-gallery-slide:hover .ese-title {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
.ese-gallery-slider.ese-title-show-hover-yes .ese-gallery-slide .ese-title {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.ese-gallery-slider .ese-gallery-slide {
  position: relative;
  overflow: hidden;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  display: block;
}
.ese-gallery-slider .ese-gallery-slide:after {
  clear: both;
  display: block;
  content: '';
}
.ese-gallery-slider .ese-gallery-slide .ese-gallery-slide-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  z-index: 5;
}
.ese-gallery-slider .ese-gallery-slide .ese-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  line-height: 1.4;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-blog-posts {
  display: flex;
  flex-wrap: wrap;
}
.ese-blog-posts.ese-per-column-2 .ese-blog-post-col {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
}
.ese-blog-posts.ese-per-column-3 .ese-blog-post-col {
  -ms-flex: 0 0 33%;
  -webkit-box-flex: 0;
  flex: 0 0 33%;
  max-width: 33%;
}
.ese-blog-posts.ese-per-column-4 .ese-blog-post-col {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 25%;
}
.ese-blog-posts.ese-content-alignment-left .ese-post-box {
  text-align: left;
}
.ese-blog-posts.ese-content-alignment-left .ese-post-box .ese-content .ese-meta {
  justify-content: left;
}
.ese-blog-posts.ese-content-alignment-center .ese-post-box {
  text-align: center;
}
.ese-blog-posts.ese-content-alignment-center .ese-post-box .ese-content .ese-meta {
  justify-content: center;
}
.ese-blog-posts.ese-content-alignment-right .ese-post-box {
  text-align: right;
}
.ese-blog-posts.ese-content-alignment-right .ese-post-box .ese-content .ese-meta {
  justify-content: right;
}
.ese-blog-posts.ese-items-layout-horizontal-reversed .ese-post-box {
  flex-direction: row-reverse;
}
.ese-blog-posts.ese-items-layout-vertical .ese-post-box {
  flex-direction: column;
}
.ese-blog-posts .ese-blog-post-col {
  width: 100%;
  display: flex;
}
.ese-blog-posts .ese-post-box {
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}
.ese-blog-posts .ese-post-box .ese-image {
  background-size: cover;
  background-position: center center;
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}
.ese-blog-posts .ese-post-box .ese-image:after {
  clear: both;
  display: block;
  content: '';
  padding-top: 60%;
}
.ese-blog-posts .ese-post-box .ese-image .ese-image-inner {
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-blog-posts .ese-post-box .ese-content {
  line-height: 1.35;
  flex: 1;
  width: 100%;
}
.ese-blog-posts .ese-post-box .ese-content .ese-title {
  display: block;
  margin-bottom: 10px;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-blog-posts .ese-post-box .ese-content .ese-meta {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  flex-wrap: wrap;
}
.ese-blog-posts .ese-post-box .ese-content .ese-meta .ese-meta-item {
  display: flex;
  gap: 5px;
  align-items: center;
}
.ese-blog-posts .ese-post-box .ese-content .ese-meta .ese-meta-item .ese-author-image {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-size: cover;
  background-position: center center;
  height: 25px;
  width: 25px;
}
.ese-blog-posts .ese-post-box .ese-content .ese-meta .ese-meta-item a {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-blog-posts .ese-post-box .ese-content .ese-excerpt {
  margin: 15px 0;
}
.ese-google-map .ese-map {
  width: 100%;
}
.ese-subscribe-newsletter.ese-alignment-vertical form {
  flex-direction: column;
}
.ese-subscribe-newsletter.ese-alignment-vertical.ese-horizontal-alignment-left form {
  align-items: flex-start;
}
.ese-subscribe-newsletter.ese-alignment-vertical.ese-horizontal-alignment-center form {
  align-items: center;
}
.ese-subscribe-newsletter.ese-alignment-vertical.ese-horizontal-alignment-right form {
  align-items: flex-end;
}
.ese-subscribe-newsletter.ese-horizontal-alignment-left form {
  justify-content: flex-start;
}
.ese-subscribe-newsletter.ese-horizontal-alignment-center form {
  justify-content: center;
}
.ese-subscribe-newsletter.ese-horizontal-alignment-right form {
  justify-content: flex-end;
}
.ese-subscribe-newsletter form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.ese-subscribe-newsletter form .ese-left,
.ese-subscribe-newsletter form .ese-right {
  max-width: 100%;
}
.ese-subscribe-newsletter form .ese-left {
  width: 100%;
  flex: 1;
}
.ese-subscribe-newsletter form input {
  max-width: 100%;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  padding-left: 20px;
}
.ese-subscribe-newsletter form button {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-subscribe-newsletter .ese-ajax-success,
.ese-subscribe-newsletter .ese-ajax-error {
  margin-top: 15px;
}
.ese-search-form.ese-alignment-vertical form {
  flex-direction: column;
}
.ese-search-form.ese-alignment-vertical.ese-horizontal-alignment-left form {
  align-items: flex-start;
}
.ese-search-form.ese-alignment-vertical.ese-horizontal-alignment-center form {
  align-items: center;
}
.ese-search-form.ese-alignment-vertical.ese-horizontal-alignment-right form {
  align-items: flex-end;
}
.ese-search-form.ese-horizontal-alignment-left form {
  justify-content: flex-start;
}
.ese-search-form.ese-horizontal-alignment-center form {
  justify-content: center;
}
.ese-search-form.ese-horizontal-alignment-right form {
  justify-content: flex-end;
}
.ese-search-form form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.ese-search-form form .ese-left,
.ese-search-form form .ese-right {
  max-width: 100%;
}
.ese-search-form form .ese-left {
  width: 100%;
  flex: 1;
}
.ese-search-form form input {
  max-width: 100%;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  padding-left: 20px;
}
.ese-search-form form button {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.ese-breadcrumbs .rank-math-breadcrumb p,
.ese-breadcrumbs .ese-breadcrumbs-inner {
  display: flex;
}
.ese-breadcrumbs .rank-math-breadcrumb p span:last-of-type,
.ese-breadcrumbs .ese-breadcrumbs-inner span:last-of-type {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ese-contact-box {
  display: flex;
  gap: 20px;
  align-items: center;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-contact-box.icon-left {
  flex-direction: row;
}
.ese-contact-box.icon-right {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.ese-contact-box.icon-top {
  flex-direction: column;
}
.ese-contact-box.icon-top .ese-content {
  text-align: center;
}
.ese-contact-box.text-nowrap-yes .ese-content .ese-title,
.ese-contact-box.text-nowrap-yes .ese-content .ese-text {
  white-space: nowrap;
}
.ese-contact-box .ese-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-contact-box .ese-icon .ese-icon-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-contact-box .ese-icon .ese-icon-inner i {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-contact-box .ese-icon .ese-icon-inner svg {
  height: auto;
}
.ese-contact-box .ese-icon .ese-icon-inner svg path {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-contact-box .ese-content {
  line-height: 1.35;
}
.ese-contact-box .ese-content .ese-title {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-contact-box .ese-content .ese-text {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-horizontal-menu.ese-mobile-breakpoint-desktop .ese-menu-inner {
  display: none;
}
.ese-horizontal-menu.ese-mobile-breakpoint-desktop .ese-mobile-menu-burger {
  display: flex;
}
.ese-horizontal-menu.ese-items-wrap-yes .ese-menu-inner ul.ese-menu {
  flex-wrap: wrap;
}
.ese-horizontal-menu .ese-menu-inner {
  display: flex;
  align-items: center;
}
.ese-horizontal-menu .ese-menu-inner.justify-start {
  justify-content: flex-start;
}
.ese-horizontal-menu .ese-menu-inner.justify-start ul.ese-menu {
  justify-content: flex-start;
}
.ese-horizontal-menu .ese-menu-inner.justify-center {
  justify-content: center;
}
.ese-horizontal-menu .ese-menu-inner.justify-center ul.ese-menu {
  justify-content: center;
}
.ese-horizontal-menu .ese-menu-inner.justify-end {
  justify-content: flex-end;
}
.ese-horizontal-menu .ese-menu-inner.justify-end ul.ese-menu {
  justify-content: flex-end;
}
.ese-horizontal-menu .ese-menu-inner.justify-around {
  justify-content: space-around;
}
.ese-horizontal-menu .ese-menu-inner.justify-around ul.ese-menu {
  justify-content: space-around;
}
.ese-horizontal-menu .ese-menu-inner.justify-between {
  justify-content: space-between;
}
.ese-horizontal-menu .ese-menu-inner.justify-between ul.ese-menu {
  justify-content: space-between;
}
.ese-horizontal-menu .ese-menu-inner.justify-between ul.ese-menu li.menu-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ese-horizontal-menu .ese-menu-inner.justify-between ul.ese-menu li a {
  display: flex;
  justify-content: center;
  width: 100%;
}
.ese-horizontal-menu .ese-menu-inner.justify-between ul.ese-menu li ul li a {
  justify-content: left;
}
.ese-horizontal-menu .ese-menu-inner.justify-evenly {
  justify-content: space-evenly;
}
.ese-horizontal-menu .ese-menu-inner.justify-evenly ul.ese-menu {
  justify-content: space-evenly;
}
.ese-horizontal-menu .ese-menu-inner ul.ese-menu {
  flex: 1;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.ese-horizontal-menu .ese-menu-inner ul.ese-menu li {
  position: relative;
  padding: 0;
  margin: 0;
}
.ese-horizontal-menu .ese-menu-inner ul.ese-menu li:hover > ul {
  display: flex;
}
.ese-horizontal-menu .ese-menu-inner ul.ese-menu li a {
  display: flex;
  align-items: center;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  line-height: 1.2;
}
.ese-horizontal-menu .ese-menu-inner ul.ese-menu li a .ese-arrow {
  display: flex;
  align-items: center;
}
.ese-horizontal-menu .ese-menu-inner ul.ese-menu li a .ese-arrow i,
.ese-horizontal-menu .ese-menu-inner ul.ese-menu li a .ese-arrow svg path {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-horizontal-menu .ese-menu-inner ul.ese-menu li ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
}
.ese-horizontal-menu .ese-menu-inner ul.ese-menu li ul li:hover > ul {
  display: flex;
}
.ese-horizontal-menu .ese-menu-inner ul.ese-menu li ul li a .ese-arrow {
  margin-left: auto;
}
.ese-horizontal-menu .ese-menu-inner ul.ese-menu li ul li ul {
  top: 0;
  left: 100%;
  display: none;
  flex-direction: column;
}
.ese-horizontal-menu .ese-mobile-menu-burger {
  display: none;
  cursor: pointer;
  align-items: center;
}
.ese-horizontal-menu .ese-mobile-menu-burger .ese-mobile-icons div {
  display: none;
  align-items: center;
}
.ese-horizontal-menu .ese-mobile-menu-burger .ese-mobile-icons div.ese-activate {
  display: flex;
}
.ese-horizontal-menu .ese-mobile-menu-burger .ese-mobile-icons svg path {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-horizontal-menu .ese-mobile-menu-burger .ese-mobile-text {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-vertical-menu.ese-submenu-items-always .ese-menu-inner ul.ese-menu li ul {
  display: block;
}
.ese-vertical-menu.ese-submenu-items-always .ese-menu-inner ul.ese-menu li ul li ul {
  display: block;
}
.ese-vertical-menu .ese-menu-inner ul.ese-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ese-vertical-menu .ese-menu-inner ul.ese-menu li {
  position: relative;
  padding: 0;
  margin: 0;
}
.ese-vertical-menu .ese-menu-inner ul.ese-menu li a {
  display: flex;
  justify-content: space-between;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  align-items: center;
  overflow: hidden;
  line-height: 1.2;
}
.ese-vertical-menu .ese-menu-inner ul.ese-menu li a .ese-arrow {
  display: flex;
  align-items: center;
  width: 40px;
  justify-content: center;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-vertical-menu .ese-menu-inner ul.ese-menu li a .ese-arrow i,
.ese-vertical-menu .ese-menu-inner ul.ese-menu li a .ese-arrow svg path {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-vertical-menu .ese-menu-inner ul.ese-menu li a .ese-arrow .ese-ic-active {
  display: none;
}
.ese-vertical-menu .ese-menu-inner ul.ese-menu li ul {
  display: none;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.ese-vertical-menu .ese-menu-inner ul.ese-menu li ul li {
  padding: 0;
  margin: 0;
}
.ese-vertical-menu .ese-menu-inner ul.ese-menu li ul li a .ese-arrow {
  margin-left: auto;
}
.ese-vertical-menu .ese-menu-inner ul.ese-menu li ul li ul {
  top: 0;
  left: 100%;
  display: none;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.ese-vertical-menu .ese-menu-inner ul.ese-menu li ul li ul li {
  padding: 0;
  margin: 0;
}
.ese-image-box {
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-image-box .ese-image {
  position: relative;
  overflow: hidden;
  display: block;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-image-box .ese-image:after {
  clear: both;
  display: block;
  content: '';
}
.ese-image-box .ese-image .ese-image-inner {
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-image-box .ese-content {
  line-height: 1.4;
}
.ese-image-box .ese-content .ese-text {
  margin: 10px 0 15px;
}
.ese-pricing-table {
  overflow: hidden;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-pricing-table .ese-header {
  text-align: center;
}
.ese-pricing-table .ese-header .ese-discount {
  display: inline-block;
  white-space: nowrap;
}
.ese-pricing-table .ese-header .ese-title {
  margin: 15px 0 10px;
}
.ese-pricing-table .ese-header .ese-subtitle {
  margin: 10px 0;
}
.ese-pricing-table .ese-header .ese-icon {
  margin: 15px 0 10px;
}
.ese-pricing-table .ese-header .ese-header-image {
  text-align: center;
}
.ese-pricing-table .ese-header .ese-header-image img {
  max-width: 70%;
}
.ese-pricing-table .ese-price .ese-price-inner {
  display: flex;
  justify-content: center;
}
.ese-pricing-table .ese-price .ese-price-inner .ese-the-price {
  position: relative;
}
.ese-pricing-table .ese-price .ese-price-inner .ese-the-price .ese-original-price {
  text-decoration: line-through;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ese-pricing-table .ese-price .ese-period {
  text-align: center;
  margin-top: 10px;
}
.ese-pricing-table .ese-features .ese-feature {
  display: flex;
  align-items: center;
  position: relative;
}
.ese-pricing-table .ese-features .ese-feature:hover .ese-description {
  display: block;
}
.ese-pricing-table .ese-features .ese-feature .ese-text i {
  margin-left: 5px;
}
.ese-pricing-table .ese-features .ese-feature .ese-description {
  position: absolute;
  top: calc(100% + 5px);
  left: 5%;
  width: 90%;
  padding: 8px 10px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  font-size: 13px;
  line-height: 1.15;
  z-index: 99;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1);
  display: none;
}
.ese-pricing-table .ese-features .ese-feature .ese-description:before {
  clear: both;
  display: block;
  content: '';
  position: absolute;
  top: -11px;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 5;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 11px 11px;
  border-color: transparent transparent #d2d2d2 transparent;
}
.ese-pricing-table .ese-features .ese-feature .ese-description:after {
  clear: both;
  display: block;
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 8;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
}
.ese-pricing-table .ese-footer {
  text-align: center;
}
.ese-pricing-table .ese-footer a {
  display: inline-block;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-pricing-table .ese-footer .ese-note {
  margin-top: 10px;
}
.ese-logo-slider .ese-client-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  position: relative;
  overflow: hidden;
}
.ese-logo-slider .ese-client-logo:hover .ese-description {
  -ms-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
.ese-logo-slider .ese-client-logo img {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  height: auto;
  width: auto;
  max-width: 90%;
}
.ese-logo-slider .ese-client-logo .ese-description {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  background-color: #fff;
  text-align: center;
  padding: 20px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ese-button-box.ese-button-align-left a {
  flex-direction: row-reverse;
}
.ese-button-box.ese-button-align-top a {
  flex-direction: column-reverse;
}
.ese-button-box a {
  display: inline-flex;
  align-items: center;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-button-box a i,
.ese-button-box a svg {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-button-box a .ese-icon {
  display: flex;
  align-items: center;
}
.ese-category-list {
  width: 100%;
  display: flex;
  justify-content: center;
}
.ese-category-list ul.ese-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.ese-category-list ul.ese-list.ese-list-horizontal li {
  margin-right: -1px;
}
.ese-category-list ul.ese-list.ese-list-vertical {
  flex-direction: column;
  width: 100%;
}
.ese-category-list ul.ese-list.ese-list-vertical li {
  margin-bottom: -1px;
}
.ese-category-list ul.ese-list.ese-list-vertical li a {
  width: 100%;
}
.ese-category-list ul.ese-list li a {
  display: flex;
  align-items: center;
  gap: 15px;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-tabs.ese-tabs-vertical {
  display: flex;
}
.ese-tabs.ese-tabs-vertical .ese-tabs-nav {
  flex: 2;
  flex-direction: column;
}
.ese-tabs.ese-tabs-vertical .ese-tabs-nav .ese-tabs-nav-item {
  margin-right: 0;
  margin-bottom: -1px;
}
.ese-tabs.ese-tabs-vertical .ese-tabs-tabs {
  flex: 7;
  margin-top: 0;
  margin-left: -1px;
}
.ese-tabs.ese-tabs-vertical .ese-tabs-tabs .ese-tabs-tab {
  height: calc(100% + 1px);
}
.ese-tabs.ese-tabs-vertical .ese-tabs-tabs .ese-tabs-tab .ese-tab-content {
  height: 100%;
}
.ese-tabs .ese-tabs-nav {
  display: flex;
}
.ese-tabs .ese-tabs-nav.ese-fullwidth-yes .ese-tabs-nav-item {
  flex: 1;
}
.ese-tabs .ese-tabs-nav .ese-tabs-nav-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  margin-right: -1px;
}
.ese-tabs .ese-tabs-nav .ese-tabs-nav-item:last-of-type {
  margin-right: 0;
}
.ese-tabs .ese-tabs-nav .ese-tabs-nav-item.ese-icon-on-right {
  flex-direction: row-reverse;
}
.ese-tabs .ese-tabs-nav .ese-tabs-nav-item.ese-icon-on-top {
  flex-direction: column;
}
.ese-tabs .ese-tabs-nav .ese-tabs-nav-item.ese-icon-on-bottom {
  flex-direction: column-reverse;
}
.ese-tabs .ese-tabs-nav .ese-tabs-nav-item .ese-icon svg,
.ese-tabs .ese-tabs-nav .ese-tabs-nav-item .ese-icon i {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-tabs .ese-tabs-nav .ese-tabs-nav-item .ese-tab-title {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-tabs .ese-tabs-tabs {
  margin-top: -1px;
}
.ese-tabs .ese-tabs-tabs .ese-tabs-tab {
  display: none;
}
.ese-tabs .ese-tabs-tabs .ese-tabs-tab.ese-active {
  display: block;
}
.ese-testimonial {
  line-height: 1.4;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  display: block;
  height: 100%;
}
.ese-testimonial.ese-style5 {
  display: flex;
}
.ese-testimonial.ese-alignment-left .ese-stars {
  justify-content: flex-start;
}
.ese-testimonial.ese-alignment-center {
  text-align: center;
}
.ese-testimonial.ese-alignment-center .ese-image {
  margin-left: auto !important;
  margin-right: auto !important;
}
.ese-testimonial.ese-alignment-right {
  text-align: right;
}
.ese-testimonial.ese-alignment-right .ese-image {
  margin-right: auto !important;
}
.ese-testimonial.ese-alignment-right .ese-stars {
  justify-content: flex-end;
}
.ese-testimonial .ese-image {
  background-size: cover;
  background-position: center center;
}
.ese-testimonial .ese-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.ese-testimonial .ese-stars svg {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-testimonial .ese-name {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-testimonial .ese-role {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-testimonial .ese-review {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-testimonial .ese-content {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-testimonial .ese-quote-icon svg,
.ese-testimonial .ese-quote-icon i {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-testimonial .ese-left-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.ese-testimonial .ese-left-right .ese-left {
  flex: 3;
}
.ese-testimonial .ese-left-right .ese-right {
  flex: 2;
  text-align: right;
}
.ese-testimonial .ese-bottom {
  display: flex;
  gap: 20px;
  align-items: center;
}
.ese-testimonial .ese-bottom .ese-right {
  margin-left: auto;
}
.ese-testimonial .ese-content {
  position: relative;
}
.ese-testimonial .ese-content .ese-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.ese-team {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  overflow: hidden;
}
.ese-team.ese-image-on-left {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.ese-team.ese-image-on-right {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}
.ese-team.ese-alignment-left {
  text-align: left;
}
.ese-team.ese-alignment-left .ese-content .ese-socials {
  justify-content: flex-start;
}
.ese-team.ese-alignment-left .ese-content .ese-contacts.ese-no-contact-text {
  justify-content: flex-start;
}
.ese-team.ese-alignment-center {
  text-align: center;
}
.ese-team.ese-alignment-center .ese-content .ese-contacts a {
  justify-content: center;
}
.ese-team.ese-alignment-right {
  text-align: right;
}
.ese-team.ese-alignment-right .ese-content .ese-contacts.ese-no-contact-text {
  justify-content: flex-end;
}
.ese-team.ese-alignment-right .ese-content .ese-contacts a {
  justify-content: flex-end;
}
.ese-team.ese-alignment-right .ese-content .ese-socials {
  justify-content: flex-end;
}
.ese-team .ese-image {
  background-size: cover;
  background-position: center center;
  flex: 1;
}
.ese-team .ese-image:after {
  clear: both;
  display: block;
  content: '';
  padding-top: 100%;
}
.ese-team .ese-content {
  line-height: 1.4;
  flex: 2;
}
.ese-team .ese-content .ese-name {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-team .ese-content .ese-role {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-team .ese-content .ese-description {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-team .ese-content .ese-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.ese-team .ese-content .ese-socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-team .ese-content .ese-contacts.ese-no-contact-text {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.ese-team .ese-content .ese-contacts a {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-team .ese-content .ese-contacts a span {
  padding-top: 3px;
}
.ese-social-shares {
  display: flex;
  align-items: center;
}
.ese-social-shares a {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-fun-fact {
  flex-direction: column;
  display: flex;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-fun-fact.ese-vertical-align-top .ese-title {
  text-align: left;
}
.ese-fun-fact.ese-vertical-align-center .ese-title {
  text-align: center;
}
.ese-fun-fact.ese-vertical-align-bottom .ese-title {
  text-align: right;
}
.ese-fun-fact .ese-icon .ese-icon-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ese-fun-fact .ese-icon .ese-icon-inner i,
.ese-fun-fact .ese-icon .ese-icon-inner svg path {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-fun-fact .ese-counter {
  display: flex;
  align-items: center;
}
.ese-fun-fact .ese-title {
  line-height: 1.3;
}
.ese-accordion {
  overflow: hidden;
}
.ese-accordion .ese-title {
  display: flex;
  align-items: center;
  gap: 20px;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  cursor: pointer;
  line-height: 1.35;
}
.ese-accordion .ese-title .ese-icon-1 {
  display: none;
}
.ese-accordion .ese-title.icon-horizontal-left {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.ese-accordion .ese-title.icon-horizontal-right {
  justify-content: space-between;
}
.ese-accordion .ese-content {
  display: none;
}
.ese-heading {
  display: flex;
}
.ese-heading .ese-inner {
  position: relative;
  z-index: 2;
  flex: 1;
}
.ese-heading .ese-inner.ese-text-align-left .ese-title.ese-title-lines {
  justify-content: left;
}
.ese-heading .ese-inner.ese-text-align-right .ese-title.ese-title-lines {
  justify-content: right;
}
.ese-heading .ese-inner .ese-behind-title {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  font-size: 60px;
}
.ese-heading .ese-inner .ese-title {
  display: block;
  position: relative;
}
.ese-heading .ese-inner .ese-title.ese-title-lines {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.ese-heading .ese-inner .ese-title.ese-title-lines:before {
  clear: both;
  display: inline-block;
  content: '';
  width: 40px;
  height: 2px;
  background-color: #d2d2d2;
}
.ese-heading .ese-inner .ese-title.ese-title-lines:after {
  clear: both;
  display: inline-block;
  content: '';
  width: 40px;
  height: 2px;
  background-color: #d2d2d2;
}
.ese-heading .ese-inner .ese-title.ese-clip-text {
  background-size: cover;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ese-heading .ese-inner .ese-content {
  line-height: 1.5;
}
.ese-icon-box {
  display: flex;
  gap: 20px;
  flex-direction: column;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-icon-box.icon-top.icon-align-center .ese-icon {
  justify-content: center;
}
.ese-icon-box.icon-top.icon-align-left .ese-icon {
  justify-content: flex-start;
}
.ese-icon-box.icon-top.icon-align-right .ese-icon {
  justify-content: flex-end;
}
.ese-icon-box.icon-left {
  flex-direction: row;
}
.ese-icon-box.icon-right {
  flex-direction: row-reverse;
}
.ese-icon-box.icon-vertical-top {
  align-items: flex-start;
}
.ese-icon-box.icon-vertical-middle {
  align-items: center;
}
.ese-icon-box.icon-vertical-bottom {
  align-items: flex-end;
}
.ese-icon-box .ese-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ese-icon-box .ese-icon .ese-icon-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-icon-box .ese-icon .ese-icon-inner i {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-icon-box .ese-icon .ese-icon-inner svg {
  height: auto;
}
.ese-icon-box .ese-icon .ese-icon-inner svg path {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-icon-box .ese-content .ese-title {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-icon-box .ese-content .ese-text {
  line-height: 1.5;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-icon-box .ese-content .ese-text p {
  margin-bottom: 0;
}
.ese-banner {
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.ese-banner .ese-inner {
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.ese-banner .ese-inner.ese-text-on-left {
  text-align: left;
}
.ese-banner .ese-inner.ese-text-on-left .ese-left .ese-icon {
  margin: 0 auto 0 0;
}
.ese-banner .ese-inner.ese-text-on-center {
  text-align: center;
}
.ese-banner .ese-inner.ese-text-on-center .ese-left .ese-icon {
  margin: 0 auto;
}
.ese-banner .ese-inner.ese-text-on-center .ese-left .ese-cta {
  justify-content: center;
}
.ese-banner .ese-inner.ese-text-on-right {
  text-align: right;
}
.ese-banner .ese-inner.ese-text-on-right .ese-left .ese-icon {
  margin: 0 0 0 auto;
}
.ese-banner .ese-inner .ese-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ese-banner .ese-inner .ese-left {
  flex: 1;
}
.ese-banner .ese-inner .ese-left .ese-title {
  line-height: 1.2;
}
.ese-banner .ese-inner .ese-left .ese-content {
  line-height: 1.5;
}
.ese-banner .ese-inner .ese-left .ese-cta {
  display: flex;
  gap: 20px;
  align-items: center;
}
.ese-banner .ese-inner .ese-left .ese-cta .ese-link {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -ms-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
}
.ese-banner .ese-inner .ese-right {
  flex: 1;
  display: flex;
}
.ese-banner .ese-inner .ese-right .ese-hero-right-image {
  display: block;
}
.ese-language-switcher {
  position: relative;
}
.ese-language-switcher:hover .ese-language-dropdown .ese-other-languages {
  display: block;
}
.ese-language-switcher .ese-language-dropdown .ese-current-language {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.ese-language-switcher .ese-language-dropdown .ese-other-languages {
  position: absolute;
  width: max-content;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  top: 100%;
  right: 0;
  display: none;
}
.ese-language-switcher .ese-language-dropdown .ese-other-languages a {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .ese-horizontal-menu.ese-mobile-breakpoint-tablet .ese-menu-inner {
    display: none;
  }
  .ese-horizontal-menu.ese-mobile-breakpoint-tablet .ese-mobile-menu-burger {
    display: flex;
  }
  .ese-blog-posts.ese-per-column-2 .ese-blog-post-col {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .ese-blog-posts.ese-per-column-3 .ese-blog-post-col {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .ese-blog-posts.ese-per-column-4 .ese-blog-post-col {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  body.admin-bar .ese-sticky-active.e-con {
    top: 46px;
  }
  .ese-horizontal-menu.ese-mobile-breakpoint-mobile .ese-menu-inner {
    display: none;
  }
  .ese-horizontal-menu.ese-mobile-breakpoint-mobile .ese-mobile-menu-burger {
    display: flex;
  }
  .ese-horizontal-menu.ese-change-to-vertical-yes .ese-menu-inner ul.ese-menu {
    flex-direction: column;
  }
  .ese-tabs.ese-tabs-vertical {
    display: block;
  }
  .ese-tabs .ese-tabs-nav {
    display: block;
  }
  .ese-contact-box.hide-text-mobile-yes .ese-content {
    display: none;
  }
  .ese-hero-banner .ese-inner {
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }
  .ese-hero-banner .ese-inner .ese-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ese-hero-banner .ese-inner .ese-left {
    flex: 1;
  }
  .ese-hero-banner .ese-inner .ese-right {
    flex: 1;
    display: flex;
  }
  .ese-hero-banner .ese-inner .ese-right .ese-hero-right-image {
    display: block;
  }
  .ese-blog-posts.ese-per-column-2 .ese-blog-post-col {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .ese-blog-posts.ese-per-column-3 .ese-blog-post-col {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .ese-blog-posts.ese-per-column-4 .ese-blog-post-col {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .ese-blog-posts.ese-items-layout-horizontal-reversed .ese-post-box,
  .ese-blog-posts.ese-items-layout-horizontal .ese-post-box {
    flex-direction: column;
  }
  .ese-blog-posts.ese-items-layout-horizontal-reversed .ese-post-box .ese-image,
  .ese-blog-posts.ese-items-layout-horizontal .ese-post-box .ese-image {
    width: 100%;
  }
  .ese-subscribe-newsletter.ese-wrap-mobile-yes form {
    flex-direction: column;
  }
}
/*# sourceMappingURL=sparkle-elements.css.map */